<div id="BoxUp" onclick="CloseBlank();"></div><div id="ToUp" onclick="DocToUp();">Наверх</div>
<div id="AllContent">
<div class="banner richBanner" id="Banner-13-1"></div>
<div id="TopLine"><div class="content">
	<div class="auth">$UserAuth</div>
	<a href="http://m.$mdomain/" class="MobileVer">Мобильная версия</a>
	<div class="search">
    	<form action='http://$mdomain/search/' enctype='multipart/form-data' method='post'>
        <input class="input2" name="searchbutton" id="searchbutton" type="image" src="/template/standart/search.png" title="Искать!" />
        <input class="input1" name="searchword" id="searchword" placeholder="поиск по сайту" type="text" />
        </form>    
	</div>
    <div class="censor">$censor</div>
    <div class="C"></div>
</div></div>
<!-- END topline -->
<div class="C"></div>
<div id="Header">
	<div class="C15"></div>
	<div class="content">
	<div class="logo"><a href="http://companies.$mdomain"><img src="/template/companies/logo.png" title='$sitename' alt='$sitename'></a></div>
    <div class="banner" id="Banner-2-1"></div>
    <div class="C"></div>
</div>
<div class="C15"></div>
</div>
<!-- END header -->

<div class="C"></div>
<div id="Menu">$mainmenu</div>
<!-- END menu -->

<div id="InnerCont">
<div id="MainContent">
	<div class="C10"></div>
	<div id="Tags">$maintags</div>
	<div id="SocialGroups">$SocialGroups</div>
	<div class="C15"></div>
	<!-- END tags -->
	<div id="TopContent">$TopContent</div>
	<!-- END Topcontent -->
	<div id="LeftContent">$Caption$Crumbs$Content</div>
	<!-- END leftcontent -->
	<div class="C15"></div>
	<div id="BottomContent">$BottomContent</div>
	<!-- END bottomcontent -->
</div>
<!-- END maincontent -->
<div id="LeftCont"></div>
<div id="RightCont"></div>
</div>

<div class="C15"></div>
<div id="Bottom"><div class="content">
	$dopmenu
	<div class="C15"></div>
    <div class="CopyText">$copyright</div>
    <div class="EditText"><noindex>$editors<div class="C10"></div>$counters</noindex><div class="C"></div></div>    
<div class="C"></div>
</div></div>
<!-- END bottom -->

<div class="C"></div>
<div id="Cities"><div class="content">
	$ourcities
    <div class="C"></div>
</div></div>
<!-- END sites -->
</div><div class='banner bannerdown' id='Banner-3-1'><div class='closeban'>Закрыть <b>[x]</b></div></div>